.wrapper {
  padding: 24px 100px;
  display: flex;
  flex-direction: column;

  header {
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    h4 {
      opacity: 0.5;
    }
  }
}

.background {
  background: var(--color-secondary-quiz);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.congratulation-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 24px;
  h1 {
    text-align: center;
    margin-top: 16px;
    font-weight: normal;
  }
  p {
    text-align: center;
    margin: 16px 0px 24px 0px;
  }
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
}

.question-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  .button-content {
    gap: 4px;
    display: flex;
  }
}

.completed {
  background: var(--color-gradient-quiz);
}
